@use '../custom' as *;

.hero {
    background-image: url("/images/hero.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    background-size: cover;
    max-width: 100%;
    height: 72vh;

    @include media-breakpoint-up(sm) { 
        height: 76vh;
    }
    @include media-breakpoint-up(xl) { 
        height: 81vh;
}
    .container-box {
        padding-top: 6rem;
        padding-bottom: 6rem;
        height: 100%;

        /*display bg rgba for contrast purposes*/
    @include media-breakpoint-down(md) { 
            background-color: rgba(255,255,255,0.3);
            height: 100%;
    }
    
    }
    /*displays smaller font size*/
    @include media-breakpoint-up(sm) { 
        h1 {
            font-size: calc(1.525rem + 2.3vw);
        }
    }
}

