@use '../custom' as *;

.hero {
    background-image: url("/images/hero.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    background-size: cover;
    max-width: 100%;
    height: 72vh;

    .container-box {
        padding-top: 10rem;
        padding-bottom: 10rem;
        height: 100%;
    }
    /*display bg rgba for contrast purposes*/
    @include media-breakpoint-down(md) { 
        .container-box {
            background-color: rgba(255,255,255,0.3);
            height: 38.4375rem;
        }
    }
    /*displays smaller font size*/
    @include media-breakpoint-up(sm) { 
        h1 {
            font-size: calc(1.525rem + 2.3vw);
        }
    }
    @include media-breakpoint-down(xl) {
        .btn-cta {
            width: 160px;
            height: 45px;
            font-size: 23px;
            cursor: pointer;
            border: none;
            outline: none;
            background: $dark-green;
            color: $white;
            font-weight: 700;

            :hover {
                background-color: $warning;
                color: $dark-green;
            }
        }
    }
}

