@use '../custom' as *;

.nav-menu {
   background-color: rgba(255,255,255,0.8);

    
    .nav-item {
        color: $dark-green;

        :hover{
            color: $warning;
        }

        .nav-link active{
            color: $warning;
        }
        .nav-link:hover {
            color: $warning;
        }

    }

    @include media-breakpoint-down(lg) {
        .social {
          display: none;
        }
    }
}
