@use '../custom' as *;

.btn-rounded {
    width: 145px;
    height: 45px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: $pink;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: $pink;
        z-index: -1;
        transition: all 0.5s;
    }

    &:hover::before {
        width: 100%;
    }

    &:hover {
        color: $white;
    }

    &:active:before {
        background: $eggshell;
    }

}

.btn-blog {
    width: 145px;
    height: 45px;
    font-size: 23px;
}