@use '../custom' as *;


.btn-cta {
    width: 200px;
    height: 50px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: $dark-green;
    color: $white;
    font-weight: 700;

        &:hover {
            background: $warning;
        }
    }


.btn-blog {
    width: 145px;
    height: 45px;
    font-size: 23px;
}